<div id = "chat-wrapper" style = "width:20%; height20%;">
  <button id = "close-chat-btn">v</button>
  <div class = "optionstop"></div>
  <div id = "messages" class = "emoji" style = "width:100%; height:calc(100% - 25px);">
      <img src = "https://www.khanacademy.org/computer-programming/logo/5933229681180672/5707702298738688.png"><br>Loading...
     </div>
  <div id = "chat-input" style = "width:20%;">
    <form id = "chat-form">
      <input id = "chat-message" type = "text" placeholder = "comment" style = "width:96%;">
      <button type = "submit" name = "send" id = "send-button">
        <span class = "reply-chat kcss-icon"></span>
      </button>
    </form>
  </div>
</div>
